---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/flatly/bootstrap.min.css">
	<!--<link rel="stylesheet" href="/css/slate/bootstrap.min.css">-->
	
	<style>
		body {
		  padding-top: 60px;
		}
		@media (max-width: 979px) {
		  body {
			padding-top: 40px;
		  }
		}
	</style>
	
  </head>
  
  <body>
  
    {% include navigation.html %}
	
    <div class="container" style="padding-top: 10px;">
      
      
<article class="post">

  <h1>{{ page.title }}</h1>

{% assign author = site.data.authors[page.author] %}

  <div class="date">
    Written by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> on {{ page.created | date: "%B %e, %Y" }}, last modified on {{ page.modified | date: "%B %e, %Y" }}
  </div>
  
<hr/>
	
  <div class="entry">
    {{ content }}
  </div>

  <div class="comments">
    {% include disqus.html disqus_identifier=page.disqus_identifier %}
  </div>
</article>
      
      
      

    </div>
	

	
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/bootstrap/bootstrap.min.js"></script>	
	
  </body>
</html>
